.modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    animation: fadeIn ease 1s;
}

.modal-content {
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    width: 40vw;
    overflow: hidden;
}

.modal-header {
    display: flex;
    justify-content: center;
}

.modal-body {
    padding: 20px;
    max-height: 85vh;
    overflow: auto;
}

.close-icon {
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 14px;
    height: 18px;
    width: 18px;
}

.tabs {
    display: flex;
    gap: 30px;
    font-size: 20px;
}

.modal-header {
    padding: 30px 30px 10px 30px;
    border-bottom: 1px solid #dadada;
}

.tab {
    position: relative;
    cursor: pointer;
}

.tab.active {
    color: #ff006e;
}

.tab.active:after {
    content: "";
    height: 4px;
    background: #ff006e;
    border-radius: 2px 2px 0 0;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
}

.copy-code-btn {
    width: 100%;
    display: block;
    padding: 14px 30px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    background-color: #ff006e;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

.code-block {
    position: relative;
}

.html-block:before {
    content: "HTML";
    position: absolute;
    color: #ff006e;
    font-size: 12px;
    top: 5px;
    right: 10px;
}

.css-block:before {
    content: "CSS";
    position: absolute;
    color: #ff006e;
    font-size: 12px;
    top: 5px;
    right: 10px;
}

pre {
    margin: 0;
    max-height: 400px;
    overflow: auto;
    background: #ececec;
    color: #3c3c3c;
}

hr {
    height: 1px;
    background-color: #dadada;
    border: none;
    margin: 30px 0;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
    border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #efefef;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d3d3d3;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }
}